.wrapper {
	display: flex;
	/* justify-content: center; */
	align-items: center;
	flex-direction: column;
	text-align: center;
	color: #fafafa;
	width: auto;
}
.title-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}
.title-wrapper img {
	width: 9rem;
	margin-left: 1rem;
	transition: all 0.2s;
	cursor: pointer;
}
.title-wrapper img:hover {
	transition: all 0.2s;
	transform: scale(1.1);
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
